p{

    font-size:40px;
}

table {
    margin:20px auto;
    border-collapse: collapse;
    line-height:1.7;
    border: 2px solid #999;
}

td{
    border:solid 1px;
    line-height:1.7;
    font-size:20px;
}

.widelink{
    display:block;
    padding: 0.6em 1em;
}

a:hover { background-color: #fcfcaa; }